GroupProject2014Code/VideoStore.Business.Adapters/Service References/ReviewSubscriptionService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SubscribeForReviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pUPC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeForReviewsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>